__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version
venv/
.venv/
env/
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
build/
dist/
*.egg-info/
.vscode/
.idea/
.DS_Store
